@font-face {
	font-family: 'Inter';
	font-weight: 300;
	src: url('../fonts/Inter/Inter-Light.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: url('../fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: url('../fonts/Inter/Inter-Bold.ttf');
}

$primary-color: #000;
$secondary-color: #fff;
$red-color: #ff0000;

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
	font-family: 'Inter';
}

h1 {
	color: $red-color;
}
